@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: #1c1c1c;
  --text-color: #aca4b2;
  --link-primary-bg: #232323;
  --link-hover-bg: #353535;
  --link-focus-border: #666666;
  --green-primary: #2b825b;
}
